<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
    } %>

<%- messages() %>    

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- This will be a list. Generated dynamically. -->

<a class="manageItem" title="Click to create a new message" href="/account/message-compose">Create New Message</a>
<a class="manageItem" title="Click to view archived messages" href="/account/message-reader">View # Archived Messages</a>

<%- messageTable %>

