<section class="hero">
    <h2>Welcome to CSE Motors!</h2>
    <div class="heroBox">
        
            <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice</li>
        </ul>
        <picture>
            <source media="">
        </picture>
    </div>
</section>

<section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul class="review-list">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>

<section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="flux">
        <div class="box-upgrade">
            <source media="">
        </div>
        <a href="">Flux Capacitor</a>
    </div>
    <div class="box-upgrade">
        <source media="">
    </div>
</section>