<section class="hero">
    <h2>Welcome to CSE Motors!</h2>
    <div class="hero-box">
        <img class="hero-img" src="/images/vehicles/delorean-tn.jpg" alt="line rendering of a delorean car">
        <ul class="hero-box-list">
            <li class="list-item">DMC Delorean</li>
            <li class="list-item">3 Cup Holders</li>
            <li class="list-item">Superman Doors</li>
            <li class="list-item">Fuzzy Dice</li>
            <li class="list-item"><button onclick="window.location.href='#';" class="hero-btn">Own Today</button></li>
        </ul>
         
           
        
    </div>
        
    
</section>

<section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul class="review-list">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>

<section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="grid-upgrade">
        <div class="flux">
            <div class="box-upgrade">
                <img class="img-upgrade" src="/images/upgrades/flux-cap.png" alt="image of a flux capacitor">
                <!-- <a href="#"></a> -->
            </div>
            <a href="#">Flux Capacitor</a>
        </div>
        <div class="decals">
            <div class="wrapper-upgrade">
                <div class="box-upgrade">
                    <img src="/images/upgrades/flame.jpg" alt="image of a flame">
                    <!-- <a href="#"></a> -->
                </div>
                <a href="#">Flame Decals</a>
            </div>
        </div>
        <div class="stickers">
            <div class="box-upgrade">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="image of a flame">
                <!-- <a href="#"></a> -->
            </div>
            <a href="#">Bumper Stickers</a>
        </div>
        <div class="hub-caps">
            <div class="box-upgrade">
                <img src="/images/upgrades/hub-cap.jpg" alt="image of a hub cap">
                <!-- <a href="#"></a> -->
            </div>
            <a href="#">Hub Caps</a>
        </div>
    </div>
</section>