/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* General Styling ****************/
:root {
  /* fonts */
  --font-head: Poppins, sans-serif;
  --font-body: "Noto Serif Hebrew", serif;
  /* colors */
  --primary-color: #1d8890; /* #07A0C3 #4E9BA6 */
  --secondary-color: #F6AE2D; /* #F0C808 */
  --tertiary-color: #9D1B23; /* #DD1C1A  */
  --dark-color: #11151C;
   /* sizes */
  --small-font: 0.8em;
  --large-font: 2em;  
}
 
#wrapper {
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

#top-header {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-head);
}

.siteName {
  font-size: var(--large-font);
}
 
/* *****Navigation***** */
nav {
  background-color: var(--dark-color);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: var(--font-head);
  color: white;
}

/* *****Body sections****** */
.hero, .reviews, .upgrades {
  font-family: var(--font-body);
}

/* *****Hero****** */


.hero-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.hero-box-list {
  list-style-type: none;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.797);
  padding: 5px;
  grid-column: 1/5;
  grid-row: 1;
  width: fit-content;
  font-weight: bold;
 
}
.list-item {
  font-size: var(--small-font);
}
.list-item:nth-child(1) {
  font-size: 1.3rem;
}
.hero-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 5px;  
  font-weight: bold;
}

.hero-img {
  width: 100%;
  grid-column: 2/6;
  grid-row: 1;
  
}

/* *****Reviews******* */
.review-list {
  font-size: .8rem;
  font-family: var(--font-head);
}


/* *****Upgrades***** */
.grid-upgrade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;  
  place-items: center;
  outline: 1px solid green;
}
.box-upgrade {
  background-color: var(--primary-color);
  padding: 10px;
  margin: 10px;
  outline: 1px solid red;
}
.wrapper-upgrade {
  outline: 1px solid blue;
  
}





@media only screen and (min-width: 550px) {
  body {
    background-image: url("/images/site/checkerboard.jpg");
  }
}


